/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"] {
  display: none !important;
}
.fl-node-5d935ffaf330f .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-node-5d935ffaf330f .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.fl-node-5d935ffaf330f .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
.fl-node-5d935ffaf330f > .fl-row-content-wrap {
  background-color: #ffffff;
}
.fl-node-5d935ffaf330f .fl-row-content {
  max-width: 1200px;
}

.topbar .fl-rich-text p,
.topbar .fl-rich-text ul {
  margin: 0;
  padding: 0;
}
.topbar .fl-rich-text p.inline_address a {
  padding-left: 20px;
}
.topbar ul.storename p {
  margin: 0;
  padding: 0;
}

.topbar ul.storename .address a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

.topbar ul.storename .address a:before,
.topbar ul.storename p.inline_address a:before {
  content: "\F041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 18px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #0081af;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #ff6b35 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Fira Sans",sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #3d3f4b !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #3d3f4b !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #ff6b35 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #3d3f4b !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #3d3f4b !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #ff6b35 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Fira Sans",sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #3d3f4b !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #ff6b35 !important;
}

.gform-footer.gform_footer.top_label input {
  max-width: max-content;
  width: max-content;
  padding: 12px 24px;
}

.gfield_captcha_input_container.math_medium input {
  width: 80px !important;
}	


.fl-node-5d935ffaf330f > .fl-row-content-wrap {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.fl-node-5d935ffaf330f > .fl-row-content-wrap {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_right"],
.fl-builder-row-settings
  .fl-field-responsive-setting
  input[name="bg_position_custom_left"] {
  display: none !important;
}
.fl-node-5dca75d79ffe5 .fl-bg-video-audio {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 20px;
}
.fl-node-5dca75d79ffe5 .fl-bg-video-audio .fl-audio-control {
  font-size: 20px;
}
.fl-node-5dca75d79ffe5 .fl-bg-video-audio .fa-times {
  font-size: 10px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 11px;
  bottom: 0;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5dca75d79ffe5 > .fl-row-content-wrap {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fl-node-5d935ffb01099 {
  width: 18.33%;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5d935ffb0109e {
  width: 73.67%;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5dca742b98b02 {
  width: 8%;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5dca755a56f97 {
  width: 100%;
}
.fl-node-5dca755a56f97 > .fl-col-content {
  background-color: #fe6b35;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.uabb-photo-content.uabb-img-grayscale img {
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  filter: gray;
}
.uabb-photo-content .uabb-photo-caption {
  pointer-events: none;
}
.uabb-photo-img {
  max-height: inherit;
}
.fl-node-5d9360129fcc5 {
  width: 100%;
}
.fl-node-5d9360129fcc5 .uabb-photo-content {
}
.fl-node-5d9360129fcc5 .uabb-photo-content img {
  width: 400px;
}
.fl-node-5d9360129fcc5 .uabb-photo-caption {
}
.fl-node-5d9360129fcc5 .uabb-photo-content .uabb-photo-img {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fl-node-5d9360129fcc5 .uabb-photo-content .uabb-photo-img {
  opacity: 1;
}
.fl-node-5d9360129fcc5 .uabb-photo-content .uabb-photo-img:hover {
  opacity: 0.8;
}
@media (max-width: 767px) {
  .fl-node-5d9360129fcc5 .uabb-photo-mob-align-center {
    text-align: center;
  }
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5d9360129fcc5 > .fl-module-content {
  margin-top: 15px;
  margin-bottom: 15px;
}
.uabb-creative-menu ul,
.uabb-creative-menu li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.uabb-creative-menu .menu:before,
.uabb-creative-menu .menu:after {
  content: "";
  display: table;
  clear: both;
}
.uabb-creative-menu .menu {
  position: relative;
  padding-left: 0;
}
.uabb-creative-menu li {
  position: relative;
}
.uabb-creative-menu a {
  display: block;
  line-height: 1;
  text-decoration: none;
}
.uabb-creative-menu .menu a {
  box-shadow: none;
}
.uabb-creative-menu a:hover {
  text-decoration: none;
}
.uabb-creative-menu .sub-menu {
  min-width: 220px;
  margin: 0;
}
.uabb-creative-menu-horizontal {
  font-size: 0;
}
.uabb-creative-menu-horizontal li,
.uabb-creative-menu-horizontal > li {
  font-size: medium;
}
.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  > a
  > span.menu-item-text {
  display: inline-block;
}
.fl-module[data-node]
  .uabb-creative-menu
  .uabb-creative-menu-expanded
  .sub-menu {
  background-color: transparent;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.uabb-creative-menu .uabb-has-submenu:focus,
.uabb-creative-menu .uabb-has-submenu .sub-menu:focus,
.uabb-creative-menu .uabb-has-submenu-container:focus {
  outline: 0;
}
.uabb-creative-menu .uabb-has-submenu-container {
  position: relative;
}
.uabb-creative-menu
  .uabb-creative-menu-accordion
  .uabb-has-submenu
  > .sub-menu {
  display: none;
}
.uabb-creative-menu .uabb-menu-toggle {
  cursor: pointer;
}
.uabb-creative-menu .uabb-toggle-arrows .uabb-menu-toggle:before,
.uabb-creative-menu .uabb-toggle-none .uabb-menu-toggle:before {
  border-color: #333;
}
.uabb-creative-menu .uabb-menu-expanded .uabb-menu-toggle {
  display: none;
}
.uabb-creative-menu-mobile-toggle {
  position: relative;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #333;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}
.uabb-creative-menu-mobile-toggle.text {
  width: 100%;
  text-align: center;
}
.uabb-creative-menu-mobile-toggle.hamburger
  .uabb-creative-menu-mobile-toggle-label,
.uabb-creative-menu-mobile-toggle.hamburger-label
  .uabb-creative-menu-mobile-toggle-label {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .uabb-svg-container,
.uabb-creative-menu-mobile-toggle.hamburger-label .uabb-svg-container {
  display: inline-block;
  position: relative;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.uabb-creative-menu-mobile-toggle.hamburger .hamburger-menu rect,
.uabb-creative-menu-mobile-toggle.hamburger-label .hamburger-menu rect {
  fill: currentColor;
}
.uabb-creative-menu.off-canvas .uabb-off-canvas-menu .uabb-menu-close-btn {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: block;
  z-index: 99;
}
.uabb-creative-menu .uabb-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  overflow-y: auto;
  overflow-x: hidden;
}
.uabb-creative-menu .uabb-menu-overlay > ul.menu {
  text-align: center;
  position: relative;
  top: 50%;
  width: 40%;
  height: 60%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-fade {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-fade {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.uabb-creative-menu .uabb-overlay-slide-down {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.uabb-creative-menu.menu-open .uabb-overlay-slide-down {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.uabb-creative-menu .uabb-overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.uabb-creative-menu.menu-open .uabb-overlay-scale {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
.uabb-creative-menu .uabb-overlay-door {
  visibility: hidden;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
  transition: width 0.5s 0.3s, visibility 0s 0.8s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door {
  visibility: visible;
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.uabb-creative-menu .uabb-overlay-door > ul.menu {
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.uabb-creative-menu .uabb-overlay-door > ul,
.uabb-creative-menu .uabb-overlay-door .uabb-menu-close-btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}
.uabb-creative-menu.menu-open .uabb-overlay-door > ul,
.uabb-creative-menu.menu-open .uabb-overlay-door .uabb-menu-close-btn {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.uabb-creative-menu.menu-close .uabb-overlay-door > ul,
.uabb-creative-menu.menu-close .uabb-overlay-door .uabb-menu-close-btn {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.uabb-creative-menu
  .uabb-menu-overlay
  .uabb-toggle-arrows
  .uabb-has-submenu-container
  a
  > span {
  padding-right: 0 !important;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
  position: absolute;
  display: block;
  width: 55px;
  height: 45px;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  outline: none;
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:before,
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.uabb-creative-menu .uabb-off-canvas-menu .menu {
  margin-top: 40px;
}
.uabb-creative-menu.off-canvas .uabb-clear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-320px, 0px, 0px);
}
.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(320px, 0px, 0px);
}
.uabb-creative-menu .uabb-off-canvas-menu {
  z-index: 99999;
  width: 300px;
  height: 100%;
  background: rgb(55, 58, 71);
  padding: 60px 20px;
  -webkit-transition: all 0.8s;
  transition: transform 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  perspective: 1000;
  backface-visibility: hidden;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-left {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.8s ease;
}
.uabb-creative-menu .menu > li > a,
.uabb-creative-menu .menu > li > .uabb-has-submenu-container a {
  outline: 0;
}
.menu-open.uabb-creative-menu .uabb-off-canvas-menu.uabb-menu-right {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.8s ease;
}
.uabb-creative-menu.off-canvas.menu-open .uabb-clear {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .uabb-creative-menu .uabb-menu-overlay .uabb-menu-close-btn {
    right: 20px;
    top: 20px;
  }
}
.bbplugin-menu-wrap .uabb-creative-menu .menu {
  text-align: right;
}
.uabb-creative-menu-expanded ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li a,
.uabb-creative-menu-accordion ul.sub-menu li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li .uabb-has-submenu-container a {
  text-indent: 20px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li a,
.uabb-creative-menu-accordion ul.sub-menu li li .uabb-has-submenu-container a,
.uabb-creative-menu-expanded ul.sub-menu li li .uabb-has-submenu-container a {
  text-indent: 30px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li a,
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-expanded
  ul.sub-menu
  li
  li
  li
  .uabb-has-submenu-container
  a {
  text-indent: 40px;
  direction: rtl;
}
.uabb-creative-menu-expanded ul.sub-menu li li li li a,
.uabb-creative-menu-accordion ul.sub-menu li li li li a,
.uabb-creative-menu-accordion
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a,
.uabb-creative-menu-expanded
  ul.sub-menu
  li
  li
  li
  li
  .uabb-has-submenu-container
  a {
  text-indent: 50px;
  direction: rtl;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > a
  span.uabb-menu-toggle,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  a
  span.uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  .uabb-menu-toggle {
  padding-left: 10px;
  float: right;
}
.bbplugin-menu-wrap .uabb-creative-menu .menu > li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.bbplugin-menu-wrap .menu .uabb-has-submenu .sub-menu {
  display: none;
}
.bbplugin-menu-wrap .uabb-creative-menu li:first-child {
  border-top: none;
}
@media only screen and (max-width: 767px) {
  .bbplugin-menu-wrap .uabb-creative-menu .menu {
    margin-top: 20px;
  }
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .uabb-off-canvas-menu
    .uabb-menu-close-btn,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .uabb-menu-overlay
    .uabb-menu-close-btn {
    display: block;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu {
    text-align: center;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (min-width: 768px) {
  .bbplugin-menu-wrap .menu > li {
    display: inline-block;
  }
  .bbplugin-menu-wrap .menu li {
    border-left: none;
    border-top: none;
  }
  .bbplugin-menu-wrap .menu li li {
    border-top: none;
    border-left: none;
  }
  .bbplugin-menu-wrap .menu .uabb-has-submenu .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 16;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: all 300ms ease-in;
  }
  .bbplugin-menu-wrap .uabb-has-submenu .uabb-has-submenu .sub-menu {
    top: 0;
    left: 100%;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
    display: block;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:hover > .sub-menu,
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-has-submenu:focus > .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .bbplugin-menu-wrap
    .menu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 100%;
    left: inherit;
    right: 0;
  }
  .bbplugin-menu-wrap
    .menu
    .uabb-has-submenu
    .uabb-has-submenu.uabb-menu-submenu-right
    .sub-menu {
    top: 0;
    left: inherit;
    right: 100%;
  }
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .uabb-has-submenu-container
    a
    span.menu-item-text {
    color: #13505b;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-menu-toggle {
    display: none;
  }
  .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {
    display: none;
  }
}
.bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu.uabb-menu-default
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.bbplugin-menu-wrap .uabb-creative-menu .menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
}
.bbplugin-menu-wrap .uabb-creative-menu .menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
}
.bbplugin-menu-wrap
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .fl-module-content
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a
  span.menu-item-text {
  width: 100%;
  color: #13505b;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-menu-toggle:before {
  color: #13505b;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  li:hover
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-item
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-creative-menu.current-menu-ancestor
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  li:hover
  .uabb-menu-toggle:before {
  color: #ff6b35;
}
.bbplugin-menu-wrap .uabb-creative-menu .menu > li > a:hover,
.bbplugin-menu-wrap .uabb-creative-menu .menu > li > a:focus,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a,
.bbplugin-menu-wrap .uabb-creative-menu .menu > li.current-menu-item > a,
.bbplugin-menu-wrap .uabb-creative-menu .menu > li.current-menu-item > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a {
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li.current-menu-item > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a {
  background-color: #ff6b35;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li
  > a:hover
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li
  > a:focus
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li:hover
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li:focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.focus
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.focus
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i {
  color: #ff6b35;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > a
  span.menu-item-text
  > i,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-item
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > a
  span.menu-item-text
  > i,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.current-menu-ancestor
  > .uabb-has-submenu-container
  > a
  span.menu-item-text
  > i {
  color: #e8f1f2;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container:hover
  > .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  .uabb-has-submenu-container.focus
  > .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  li.current-menu-item
  > .uabb-has-submenu-container
  > .uabb-menu-toggle:before {
  color: #ff6b35;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e8f1f2;
}
.bbplugin-menu-wrap
  .uabb-creative-menu:not(.off-canvas):not(.full-screen):not(.menu-item)
  .uabb-creative-menu
  .sub-menu {
  min-width: 220px;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.uabb-creative-menu
  > a
  > span,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a
  > span {
  color: #323232;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e3e2e3;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li:last-child {
  border-bottom: none;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li:first-child,
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.uabb-creative-menu.uabb-has-submenu
  li
  li:first-child {
  border-top: none;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li.uabb-active
  > .sub-menu
  > li:first-child,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu.uabb-creative-menu-expanded
  .sub-menu
  > li
  > .sub-menu
  > li:first-child {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e3e2e3;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu {
  -webkit-box-shadow: 2px 2px 35px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 35px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 35px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 35px 1px rgba(0, 0, 0, 0.3);
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li:last-child > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li:last-child
  > .uabb-has-submenu-container
  > a {
  border: 0;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:hover
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > a:focus
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:hover
  span.menu-item-text,
.bbplugin-menu-wrap
  .uabb-creative-menu
  ul.sub-menu
  > li.menu-item.uabb-creative-menu
  > .uabb-has-submenu-container
  > a:focus
  span.menu-item-text {
  color: #e8f1f2;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a:hover,
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a:focus,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:hover,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a:focus {
  background-color: #ff6b35;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .sub-menu
  li
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  .sub-menu
  li
  .uabb-menu-toggle:before {
  color: #323232;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-arrows
  .sub-menu
  li:hover
  .uabb-menu-toggle:before,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-toggle-none
  .sub-menu
  li:hover
  .uabb-menu-toggle:before {
  color: #e8f1f2;
}
.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {
}
.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
.bbplugin-menu-wrap
  .uabb-creative-menu-mobile-toggle-container
  > .uabb-creative-menu-mobile-toggle.text {
  text-align: center;
}
.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle rect {
  fill: #13505b;
}
@media only screen and (max-width: 767px) {
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-menu-overlay .menu {
    margin-top: 40px;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu {
    text-align: center;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 992px) {
  .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
  .bbplugin-menu-wrap
    .uabb-creative-menu-mobile-toggle-container
    > .uabb-creative-menu-mobile-toggle.text {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.off-canvas
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.full-screen
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .sub-menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-off-canvas-menu {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
    padding-left: 10px;
    float: right;
  }
}
@media only screen and (max-width: 767px) {
  .bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle-container,
  .bbplugin-menu-wrap
    .uabb-creative-menu-mobile-toggle-container
    > .uabb-creative-menu-mobile-toggle.text {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.off-canvas .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.off-canvas
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.uabb-menu-default .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu.full-screen .menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu.full-screen
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .sub-menu
    > li
    > .uabb-has-submenu-container
    > a {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .uabb-off-canvas-menu {
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu {
    text-align: center;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu > li > a span.uabb-menu-toggle,
  .bbplugin-menu-wrap
    .uabb-creative-menu
    .menu
    > li
    > .uabb-has-submenu-container
    a
    span.menu-item-text
    > span.uabb-menu-toggle {
    float: right;
  }
  .bbplugin-menu-wrap .uabb-creative-menu .menu .uabb-menu-toggle {
    float: right;
  }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 767px) {
}
.bbplugin-menu-wrap .uabb-creative-menu .menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .menu
  > li
  > .uabb-has-submenu-container
  > a {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bbplugin-menu-wrap .uabb-creative-menu .sub-menu > li > a,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .sub-menu
  > li
  > .uabb-has-submenu-container
  > a {
  font-size: 12px;
}
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-creative-menu-expanded.menu
  > .uabb-has-submenu
  > .sub-menu,
.bbplugin-menu-wrap
  .uabb-creative-menu
  .uabb-creative-menu-accordion.menu
  > .uabb-has-submenu
  > .sub-menu {
  border-style: solid;
  border-width: 0;
  background-clip: padding-box;
  border-color: #000000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.bbplugin-menu-wrap .uabb-creative-menu-mobile-toggle {
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.bbplugin-menu-wrap > .fl-module-content {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .fl-module-icon {
    text-align: center;
  }
}
.fl-node-5dca742b98381 .fl-module-content .fl-icon i,
.fl-node-5dca742b98381 .fl-module-content .fl-icon i:before {
  font-size: 30px;
}
.fl-node-5dca742b98381 .fl-module-content .fl-icon-text {
  height: 52.5px;
}
.fl-node-5dca742b98381.fl-module-icon {
  text-align: right;
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
.fl-node-5d935ffaf330f .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5d935ffaf330f .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5d935ffaf330f #uabb-top-slit2,
.fl-node-5d935ffaf330f #uabb-top-slit3 {
  fill: #afafaf;
}
.fl-node-5d935ffaf330f #uabb-bottom-slit2,
.fl-node-5d935ffaf330f #uabb-bottom-slit3 {
  fill: #afafaf;
}
.fl-node-5d935ffaf330f #uabb-top-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-bottom-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-top-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-bottom-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-top-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-bottom-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-top-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f #uabb-bottom-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5d935ffaf330f .uabb-top-row-separator {
  z-index: 9;
}
.fl-node-5d935ffaf330f .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .fl-node-5d935ffaf330f .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5d935ffaf330f .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .fl-node-5d935ffaf330f .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5d935ffaf330f .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-node-5dca75d79ffe5 .uabb-top-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5dca75d79ffe5 .uabb-bottom-row-separator.uabb-has-svg svg {
  width: calc(100% + 1.5px);
}
.fl-node-5dca75d79ffe5 #uabb-top-slit2,
.fl-node-5dca75d79ffe5 #uabb-top-slit3 {
  fill: #afafaf;
}
.fl-node-5dca75d79ffe5 #uabb-bottom-slit2,
.fl-node-5dca75d79ffe5 #uabb-bottom-slit3 {
  fill: #afafaf;
}
.fl-node-5dca75d79ffe5 #uabb-top-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-bottom-pine-tree-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-top-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-bottom-pine-tree-bend-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-top-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-bottom-slime-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-top-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 #uabb-bottom-wave-slide-separator2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.fl-node-5dca75d79ffe5 .uabb-top-row-separator {
  z-index: 9;
}
.fl-node-5dca75d79ffe5 .uabb-bottom-row-separator {
  z-index: 9;
}
@media (max-width: 992px) {
  .fl-node-5dca75d79ffe5 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5dca75d79ffe5 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .fl-node-5dca75d79ffe5 .uabb-top-row-separator.uabb-has-svg svg {
    width: 100%;
  }
  .fl-node-5dca75d79ffe5 .uabb-bottom-row-separator.uabb-has-svg svg {
    width: 100%;
  }
}
.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}
.uabb-module-content h1,
.uabb-module-content h2,
.uabb-module-content h3,
.uabb-module-content h4,
.uabb-module-content h5,
.uabb-module-content h6 {
  margin: 0;
  clear: both;
}
.fl-module-content a,
.fl-module-content a:hover,
.fl-module-content a:focus {
  text-decoration: none;
}
.uabb-row-separator {
  position: absolute;
  width: 100%;
  left: 0;
}
.uabb-top-row-separator {
  top: 0;
  bottom: auto;
}
.uabb-bottom-row-separator {
  top: auto;
  bottom: 0;
}
.fl-builder-content-editing .fl-visible-medium.uabb-row,
.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
.fl-builder-content-editing .fl-visible-mobile.uabb-row {
  display: none !important;
}
@media (max-width: 992px) {
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .fl-builder-content-editing .fl-visible-desktop.uabb-row,
  .fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,
  .fl-builder-content-editing .fl-visible-medium.uabb-row {
    display: none !important;
  }
  .fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,
  .fl-builder-content-editing .fl-visible-mobile.uabb-row {
    display: block !important;
  }
}
.fl-responsive-preview-content .fl-builder-content-editing {
  overflow-x: hidden;
  overflow-y: visible;
}
.uabb-row-separator svg {
  width: 100%;
}
.uabb-top-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  top: -1px;
  bottom: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg svg {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 50%;
  bottom: -1px;
  top: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-svg-triangle svg,
.uabb-bottom-row-separator.uabb-xlarge-triangle svg,
.uabb-top-row-separator.uabb-xlarge-triangle-left svg,
.uabb-bottom-row-separator.uabb-svg-circle svg,
.uabb-top-row-separator.uabb-slime-separator svg,
.uabb-top-row-separator.uabb-grass-separator svg,
.uabb-top-row-separator.uabb-grass-bend-separator svg,
.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,
.uabb-top-row-separator.uabb-wave-slide-separator svg,
.uabb-top-row-separator.uabb-pine-tree-separator svg,
.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,
.uabb-bottom-row-separator.uabb-stamp-separator svg,
.uabb-bottom-row-separator.uabb-xlarge-circle svg,
.uabb-top-row-separator.uabb-wave-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: scale(1) scaleY(-1) translateX(-50%);
  -moz-transform: scale(1) scaleY(-1) translateX(-50%);
  -ms-transform: scale(1) scaleY(-1) translateX(-50%);
  -o-transform: scale(1) scaleY(-1) translateX(-50%);
  transform: scale(1) scaleY(-1) translateX(-50%);
}
.uabb-top-row-separator.uabb-big-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}
.uabb-top-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-curve-up-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-top-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-bottom-row-separator.uabb-curve-down-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(-1);
  -moz-transform: translateX(-50%) scale(-1);
  -ms-transform: translateX(-50%) scale(-1);
  -o-transform: translateX(-50%) scale(-1);
  transform: translateX(-50%) scale(-1);
}
.uabb-top-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-tilt-left-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.uabb-bottom-row-separator.uabb-tilt-right-separator svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(-1);
  -moz-transform: translateX(-50%) scaleX(-1);
  -ms-transform: translateX(-50%) scaleX(-1);
  -o-transform: translateX(-50%) scaleX(-1);
  transform: translateX(-50%) scaleX(-1);
}
.uabb-top-row-separator.uabb-tilt-left-separator,
.uabb-top-row-separator.uabb-tilt-right-separator {
  top: 0;
}
.uabb-bottom-row-separator.uabb-tilt-left-separator,
.uabb-bottom-row-separator.uabb-tilt-right-separator {
  bottom: 0;
}
.uabb-top-row-separator.uabb-arrow-outward-separator svg,
.uabb-top-row-separator.uabb-arrow-inward-separator svg,
.uabb-top-row-separator.uabb-cloud-separator svg,
.uabb-top-row-separator.uabb-multi-triangle svg {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(-1);
  -moz-transform: translateX(-50%) scaleY(-1);
  -ms-transform: translateX(-50%) scaleY(-1);
  -o-transform: translateX(-50%) scaleY(-1);
  transform: translateX(-50%) scaleY(-1);
}
.uabb-bottom-row-separator.uabb-multi-triangle svg {
  bottom: -2px;
}
.uabb-row-separator.uabb-round-split:after,
.uabb-row-separator.uabb-round-split:before {
  left: 0;
  width: 50%;
  background: inherit inherit/inherit inherit inherit inherit;
  content: "";
  position: absolute;
}
.uabb-button-wrap a,
.uabb-button-wrap a:visited {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-shadow: none;
}
.uabb-button-wrap a *,
.uabb-button-wrap a:visited * {
}
.fl-builder-content .uabb-button:hover {
  text-decoration: none;
}
.fl-builder-content .uabb-button-width-full .uabb-button {
  display: block;
  text-align: center;
}
.uabb-button-width-custom .uabb-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.fl-builder-content .uabb-button-left {
  text-align: left;
}
.fl-builder-content .uabb-button-center {
  text-align: center;
}
.fl-builder-content .uabb-button-right {
  text-align: right;
}
.fl-builder-content .uabb-button i,
.fl-builder-content .uabb-button i:before {
  font-size: 1em;
  height: 1em;
  line-height: 1em;
  width: 1em;
}
.uabb-button .uabb-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-button .uabb-button-icon-before {
  margin-left: 0;
  margin-right: 8px;
}
.uabb-button .uabb-button-icon-no-text {
  margin: 0;
}
.uabb-button-has-icon .uabb-button-text {
  vertical-align: middle;
}
.uabb-icon-wrap {
  display: inline-block;
}
.uabb-icon a {
  text-decoration: none;
}
.uabb-icon i {
  display: block;
}
.uabb-icon i:before {
  border: none !important;
  background: none !important;
}
.uabb-icon-text {
  display: table-cell;
  text-align: left;
  padding-left: 15px;
  vertical-align: middle;
}
.uabb-icon-text *:last-child {
  margin: 0 !important;
  padding: 0 !important;
}
.uabb-icon-text a {
  text-decoration: none;
}
.uabb-photo {
  line-height: 0;
  position: relative;
  z-index: 2;
}
.uabb-photo-align-left {
  text-align: left;
}
.uabb-photo-align-center {
  text-align: center;
}
.uabb-photo-align-right {
  text-align: right;
}
.uabb-photo-content {
  border-radius: 0;
  display: inline-block;
  line-height: 0;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.uabb-photo-content img {
  border-radius: inherit;
  display: inline;
  height: auto;
  max-width: 100%;
  width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-photo-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-photo-caption {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uabb-photo-caption-below {
  padding-bottom: 20px;
  padding-top: 10px;
}
.uabb-photo-caption-hover {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  filter: alpha(opacity = 0);
  padding: 10px 15px;
  position: absolute;
  right: 0;
  -webkit-transition: visibility 200ms linear;
  -moz-transition: visibility 200ms linear;
  transition: visibility 200ms linear;
}
.uabb-photo-content:hover .uabb-photo-caption-hover {
  opacity: 100;
  visibility: visible;
}
.uabb-active-btn {
  background: #1e8cbe;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
  color: white;
}
.fl-builder-bar .fl-builder-add-content-button {
  display: block !important;
  opacity: 1 !important;
}
.uabb-imgicon-wrap .uabb-icon {
  display: block;
}
.uabb-imgicon-wrap .uabb-icon i {
  float: none;
}
.uabb-imgicon-wrap .uabb-image {
  line-height: 0;
  position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
  text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
  text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
  text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
  display: inline-block;
  border-radius: 0;
  line-height: 0;
  position: relative;
  max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
  display: inline;
  height: auto !important;
  max-width: 100%;
  width: auto;
  border-radius: inherit;
  box-shadow: none;
  box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
  background: #fafafa;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button-wrap a:focus {
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
}
.uabb-creative-button-wrap a .uabb-creative-button-text,
.uabb-creative-button-wrap a .uabb-creative-button-icon,
.uabb-creative-button-wrap a:visited .uabb-creative-button-text,
.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button-wrap a:hover {
  text-decoration: none;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-full
  .uabb-creative-button {
  display: block;
  text-align: center;
}
.uabb-creative-button-wrap
  .uabb-creative-button-width-custom
  .uabb-creative-button {
  display: inline-block;
  text-align: center;
  max-width: 100%;
}
.uabb-creative-button-wrap .uabb-creative-button-left {
  text-align: left;
}
.uabb-creative-button-wrap .uabb-creative-button-center {
  text-align: center;
}
.uabb-creative-button-wrap .uabb-creative-button-right {
  text-align: right;
}
.uabb-creative-button-wrap .uabb-creative-button i {
  font-size: 1.3em;
  height: auto;
  vertical-align: middle;
  width: auto;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-after {
  margin-left: 8px;
  margin-right: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button
  .uabb-creative-button-icon-before {
  margin-right: 8px;
  margin-left: 0;
}
.uabb-creative-button-wrap.uabb-creative-button-icon-no-text
  .uabb-creative-button
  i {
  margin: 0;
}
.uabb-creative-button-wrap
  .uabb-creative-button-has-icon
  .uabb-creative-button-text {
  vertical-align: middle;
}
.uabb-creative-button.uabb-creative-transparent-btn {
  background: transparent;
}
.uabb-creative-button.uabb-creative-transparent-btn:after {
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-transparent-fill-top-btn:after,
.uabb-transparent-fill-bottom-btn:after {
  width: 100%;
  height: 0;
  left: 0;
}
.uabb-transparent-fill-top-btn:after {
  top: 0;
}
.uabb-transparent-fill-bottom-btn:after {
  bottom: 0;
}
.uabb-transparent-fill-left-btn:after,
.uabb-transparent-fill-right-btn:after {
  width: 0;
  height: 100%;
  top: 0;
}
.uabb-transparent-fill-left-btn:after {
  left: 0;
}
.uabb-transparent-fill-right-btn:after {
  right: 0;
}
.uabb-transparent-fill-center-btn:after {
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-transparent-fill-diagonal-btn:after,
.uabb-transparent-fill-horizontal-btn:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
}
.uabb-transparent-fill-diagonal-btn {
  overflow: hidden;
}
.uabb-transparent-fill-diagonal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.uabb-transparent-fill-horizontal-btn:after {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,
.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.perspective {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  margin: 0;
}
.uabb-creative-button.uabb-creative-threed-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.uabb-creative-button.uabb-creative-threed-btn {
  outline: 1px solid transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.uabb-creative-threed-btn.uabb-animate_top-btn:after {
  height: 40%;
  left: 0;
  top: -40%;
  width: 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.uabb-creative-threed-btn.uabb-animate_left-btn:after {
  width: 20%;
  height: 100%;
  left: -20%;
  top: 0;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
}
.uabb-creative-threed-btn.uabb-animate_right-btn:after {
  width: 20%;
  height: 100%;
  left: 104%;
  top: 0;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateY(120deg);
  -moz-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  transform: rotateY(120deg);
}
.uabb-animate_top-btn:hover {
  -webkit-transform: rotateX(-15deg);
  -moz-transform: rotateX(-15deg);
  -ms-transform: rotateX(-15deg);
  -o-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}
.uabb-animate_bottom-btn:hover {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  -o-transform: rotateX(15deg);
  transform: rotateX(15deg);
}
.uabb-animate_left-btn:hover {
  -webkit-transform: rotateY(6deg);
  -moz-transform: rotateY(6deg);
  -ms-transform: rotateY(6deg);
  -o-transform: rotateY(6deg);
  transform: rotateY(6deg);
}
.uabb-animate_right-btn:hover {
  -webkit-transform: rotateY(-6deg);
  -moz-transform: rotateY(-6deg);
  -ms-transform: rotateY(-6deg);
  -o-transform: rotateY(-6deg);
  transform: rotateY(-6deg);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn,
.uabb-creative-flat-btn.uabb-animate_to_left-btn,
.uabb-creative-flat-btn.uabb-animate_from_top-btn,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {
  overflow: hidden;
  position: relative;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
  bottom: 0;
  height: 100%;
  margin: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  width: 100%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,
.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {
  top: 0;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn i {
  top: 0;
  left: -100%;
}
.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn i {
  top: 0;
  left: 100%;
}
.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn i {
  top: -100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {
  top: 100%;
  left: 0;
}
.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  -o-transform: translateY(-400px);
  transform: translateY(-400px);
}
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-tab-acc-content .mejs-overlay.load,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode,
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-overlay.load {
  width: 100% !important;
  height: 100% !important;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio),
.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {
  padding-top: 56.25%;
}
.uabb-tab-acc-content .wp-video,
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content .wp-video,
.uabb-adv-accordion-content video.wp-video-shortcode {
  max-width: 100% !important;
}
.uabb-tab-acc-content video.wp-video-shortcode,
.uabb-adv-accordion-content video.wp-video-shortcode {
  position: relative;
}
.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,
.uabb-adv-accordion-content
  .mejs-container:not(.mejs-audio)
  .mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.uabb-tab-acc-content .mejs-overlay-play,
.uabb-adv-accordion-content .mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
.fl-row-content-wrap .uabb-row-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-col-particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.uabb-creative-button-wrap a,
.uabb-creative-button-wrap a:visited {
}
.uabb-dual-button .uabb-btn,
.uabb-dual-button .uabb-btn:visited {
}
.uabb-js-breakpoint {
  content: "default";
  display: none;
}
@media screen and (max-width: 992px) {
  .uabb-js-breakpoint {
    content: "992";
  }
}
@media screen and (max-width: 767px) {
  .uabb-js-breakpoint {
    content: "767";
  }
}
.fl-page {
  width: auto;
}

.fl-page .fl-content-full.container {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}
.our-team-wrap .fl-photo-caption {
  font-size: 15px;
  font-weight: 500;
}
.search_frm_wrap {
  position: realtive;
}
.search_frm {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 9999;
  left: 0;
  right: 0;
  background-color: rgba(255, 107, 53, 0.91);
}

.facet_filters strong {
  color: #000;
}
.product-detail-layout-5 .product-box .button-wrapper {
  text-align: center;
}
.product-detail-layout-5 .product-box .button-wrapper a {
  background: #0081af !important;
  padding: 10px;
  color: #fff;
  text-align: center !important;
  border: 1px solid #0081af;
  transition: all 0.2s;
}
.product-detail-layout-5 .product-box .button-wrapper a:hover {
  background: #fff !important;
  color: #000;
  border: 1px solid #0081af;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 40px !important;
}

.footer-number-name-wrp .uabb-text-editor p {
  display: inline-block;
  margin-right: 20px;
}
.footer-number-name-wrp .uabb-text-editor ul.storename {
  display: inline-block;
}

.location-get-direction-btn .storename {
  margin: 0px 0 0 20px;
  display: block;
}
.location-get-direction-btn .storename .direction a {
  padding: 12px 37px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.location-get-direction-btn a {
  width: 100%;
  text-align: center;
}
.search_frm {
  margin: 0px auto;
  max-width: 1100px;
}
.storename .phone a:before {
  display: none;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: 0px !important;
}
.search-header .fl-icon-wrap .fl-icon i {
  cursor: pointer;
  margin-top: 5px;
}
.map-location .fl-html ul.storename {
  margin-left: 0px;
  width: 100%;
}
#menu-main-menu-1 > li {
  margin: 0px 5px !important;
}
#menu-main-menu-1 li a {
  letter-spacing: 0px;
}
/* #menu-main-menu-1 .menu-item-has-children .uabb-has-submenu-container a{
    padding-left:5px;
    padding-right:5px; 
} */
ul#menu-main-menu
  .menu-item-has-children
  .uabb-has-submenu-container
  a
  span:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-weight: 900;
  margin-left: 5px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.fl-page-bar .fl-page-bar-text {
  line-height: 0px;
}
.fl-page-bar .fl-page-bar-text ul {
  margin-bottom: 0px;
}
.shop-hrs .storename {
  display: block;
}
.shop-hrs .fl-module-content {
  margin-right: 0px;
}
.shop-hrs .storename .store-opening-hrs-container ul {
  padding-left: 0px;
  list-style: none;
}

.shop-hrs .storename .store-opening-hrs-container ul li {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding: 5px;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
  margin-top: -1px !important;
}
.gform_wrapper ul.gform_fields li.gfield .gfield_checkbox li a {
  text-decoration: underline;
}
.gform_wrapper ul.gform_fields li.gfield .gfield_checkbox li a:hover {
  text-decoration: none;
}

.privacy-policy-row .ph {
  display: inline-block;
}
.privacy-policy-row .storename {
  margin-left: 5px;
}
.FloorteBtn .fl-button-wrap a.fl-button {
  background: #ff6b35 !important;
  color: #fff !important;
  border: 0px !important;
}
.FloorteBtn .fl-button-wrap a.fl-button:hover {
  background: #2d2d2d !important;
}
.FloorteBtn .fl-button-wrap a.fl-button:hover,
.FloorteBtn .fl-button-wrap a.fl-button:hover > * {
  background: #2d2d2d !important;
  color: #fff !important;
}
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
button.rmp_menu_trigger {
  top: 92px !important;
}
.bottom-pager .facetwp-pager {
  text-align: right;
}
.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #ee6533;
}
.facet_filters strong {
  color: #ee6533;
}
.product-colors ul li.found {
  margin-right: 5px;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #ee6533;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #ee6533;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  header.fl-page-header-fixed {
    display: none !important;
  }
  .fl-page-bar .fl-page-bar-container {
    width: 96%;
  }
  .fl-page-bar .fl-page-bar-container .text-right nav .menu li a {
    padding: 2px 5px;
  }
  .fl-page-bar .fl-page-bar-container .storename {
    margin-bottom: 0px;
  }
  header .fl-node-5d935ffb01099 {
    width: 100%;
  }
  header .fl-node-5d935ffb01099 .uabb-photo-content img {
    width: 160px;
  }
  .product-box h1 {
    font-size: 24px;
  }
  .style-product_list .pro-container > .row > .col-md-7 {
    flex: 0 0 57.33333%;
  }
  .style-product_list .pro-container > .row > .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .style-product_list .pro-container .pro-details .button-wrapper {
    justify-content: space-around;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    min-width: auto;
    width: auto;
  }
  button.rmp_menu_trigger {
    top: 110px !important;
  }
}
@media (max-width: 768px) {
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    width: 49%;
  }
  .fl-page-bar .fl-page-bar-container {
    width: 100%;
    padding: 5px 20px !important;
  }
  .fl-page-bar .fl-page-bar-container .text-left {
    width: 40% !important;
  }
  .fl-page-bar .fl-page-bar-container .text-right {
    width: 60% !important;
  }
  .fl-page-bar .fl-page-bar-container .text-right nav .menu li a {
    padding: 2px 5px;
  }
  .fl-content-slider-navigation path {
    fill: #ff6b35;
  }
  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: auto !important;
  }
  .fl-row-content-wrap .fl-node-5d7f5495decd9 {
    width: 56.97%;
  }
  .fl-node-5d7f5495decd7 .fl-node-5d7f5495decd8 > .fl-col-content {
    padding: 10px;
  }
  /* .fl-builder-content .fl-node-5d7f5495decc5, .fl-builder-content .fl-node-5d7f5495decba{
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8, .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8{
        flex-basis: 100%;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2), .fl-col-group-responsive-reversed .fl-col:nth-of-type(1){
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    #floorte-banner{
        background-size: cover;
    }
    .fl-node-5d7f5495decd8.fl-col > .fl-col-content{
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .fl-node-5d7f5495decd9.fl-col > .fl-col-content{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .fl-node-5dcd4a3e3035b.fl-module > .fl-module-content{
        margin: 20px!important;
    }
    .fl-node-5d7f5495decd8 > .fl-col-content, .fl-node-5d7f5495decd9 > .fl-col-content{
        margin-top: 0px!important;
    }
    .fl-node-5d7f5495deccd > .fl-row-content-wrap{
        padding-bottom: 0px!important;
    } */
}

@media (max-width: 767px) {
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
}

@media (max-width: 667px) {
  .fl-page-bar .fl-page-bar-container .text-left {
    width: 100% !important;
  }
  .fl-page-bar .fl-page-bar-container .text-right {
    width: 100% !important;
  }
  .fl-page-bar .fl-page-bar-container {
    padding: 10px 0px !important;
  }
  .fl-page-bar .fl-page-bar-container .text-right {
    text-align: center !important;
  }
  .fl-page-bar .fl-page-bar-container .text-right nav .menu li a i {
    display: none;
  }
  button#responsive-menu-button {
    top: 90px !important;
  }
  .save-button .uabb-button-wrap a {
    width: auto;
    min-height: auto;
    padding: 10px 20px;
  }
  .uabb-heading-align-left h3.uabb-heading {
    text-align: center !important;
  }
}
@media (max-width: 400px) {
  .search-results .product-row .fl-post-grid-image > a .exlusive-badge,
  .product-row .fl-post-grid-image > a .exlusive-badge {
    left: 110px;
  }
}
.storename li .phone a :before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
  position: initial;
}
.location-top .storename li .phone a :before {
  content: "" !important;
  margin-right: 0px !important;
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0;
}
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  button.rmp_menu_trigger {
    top: 120px !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  div#logo {
    max-width: 220px;
    margin: 0 auto;
  }
  button.rmp_menu_trigger {
    top: 78px !important;
  }
}

@media only screen and (max-width: 321px) {
  button.rmp_menu_trigger {
    top: 100px !important;
    right: 2% !important;
  }
  .rmp-submenu .rmp-menu-item-link {
    font-size: 10px !important;
  }
}

/* PLP Page Css iPad Air */
.admin-bar button.rmp_menu_trigger {
  margin-top: 46px;
}
